<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login con Google</title>
</head>
<body>
  <h1>Practica de Login con Google</h1>
  <br>
  <h4>Ingre con Google</h4>
  <button id="btnLogin">Iniciar Sesion</button>
</body>

<script type="module">
  // Import the functions you need from the SDKs you need
  import { initializeApp } from "https://www.gstatic.com/firebasejs/9.18.0/firebase-app.js";
  // firebase auth google
  import { getAuth, signInWithPopup, GoogleAuthProvider } from "https://www.gstatic.com/firebasejs/9.18.0/firebase-auth.js";
  // Your web app's Firebase configuration
  const firebaseConfig = {
    apiKey: "AIzaSyDOr89Rka2DBNYtAfj6eGeVS9b-BnX-6y8",
    authDomain: "djlogin-8ad30.firebaseapp.com",
    projectId: "djlogin-8ad30",
    storageBucket: "djlogin-8ad30.appspot.com",
    messagingSenderId: "18556881093",
    appId: "1:18556881093:web:f7c0e0a8976185f6b748ac"
  };

  // Initialize Firebase
  const app = initializeApp(firebaseConfig);

  console.log('-->', app)


  function loginGoogle () {
    const provider = new GoogleAuthProvider();
    provider.addScope('https://www.googleapis.com/auth/contacts.readonly');
    

    const auth = getAuth();
    signInWithPopup(auth, provider)
      .then((result) => {
        // This gives you a Google Access Token. You can use it to access the Google API.
        const credential = GoogleAuthProvider.credentialFromResult(result);
        const token = credential.accessToken;
        // The signed-in user info.
        const user = result.user;
        console.log('===>', user);
        // IdP data available using getAdditionalUserInfo(result)
        // ...
      }).catch((error) => {
        // Handle Errors here.
        const errorCode = error.code;
        const errorMessage = error.message;
        // The email of the user's account used.
        const email = error.customData.email;
        console.log('==error=>', errorMessage);
        // The AuthCredential type that was used.
        const credential = GoogleAuthProvider.credentialFromError(error);
        // ...
      });
  }

  
  document.getElementById('btnLogin').addEventListener('click', loginGoogle)


</script>
</html>